body {
  font-family: system-ui, sans-serif;
}
.cm-logo {
  max-width: 280px;
  height: auto;
  display: block;
}

header {
  display: flex;
  align-items: center;
}

header .nav {
  margin-top: 2px; /* tiny nudge down */
}